.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1500px;
    padding: 20px;
}

.book {
    width: 250px;
    height: 475px;
    max-width: 90vw;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #81b29a;
}

.book-photo {
    width: 95%;
    max-height: 300px;
    border-radius: 20px;
}

.title-author {
    text-align: center;
}

.author {
    text-emphasis: none;
    font-style: italic;
}

.desc {
    text-align: center;
}